<nav class="navbar navbar-light bg-white border-bottom shadow-sm mb-4">
  <a class="navbar-brand" href="/"><img src="assets/logos/favicon.png" alt="Logo"><span> Splixcube</span></a>
</nav>

<div class="container my-3">
  <div class="jumbotron banner img-fluid">
    <div class="container">
      <h1 class="display-4">Angular CRUD using Firestore</h1>
      <p class="lead">This project created by Pradeep Suthar for Splixcube.</p>
    </div>
  </div>

  <!-- Row -->
  <div class="row">
    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
      <!-- User form -->
      <app-user></app-user>
    </div>

    <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
      <!-- Table view -->
      <app-user-list></app-user-list>
    </div>

  </div>
</div>